## Loading in a CSV Dataset

In [ ]:
### Make sure that you have installed pandas pip install pandas
## Import the pandas library
import pandas as pd

## Create a dataframe with pandas that will load in the data
df = pd.read_csv('C:/Users/user/folder/data/filename.csv')

## validate data
df.head()
# df.head(25) to pull the first 25 rows, can add any number you want

In [4]:
## Can add your file path as a variable if pulling multiple datasets from same folder
filepath = 'C:/Users/user/folder/data/filename.csv'

In [2]:
filepath = 'C:/Users/user/OneDrive/Documents/America_on_Tech/data/'

In [15]:
import pandas as pd

df = pd.read_csv('C:/Users/user/OneDrive/Documents/America_on_Tech/data/test_data1.csv')
#df2 = pd.read_csv(filepath + 'test_data2.csv')

df.head()
#df.head(25)

,id,first_name,last_name,email,gender,loyalty_status,spend_2021,dollar_2021
0,1,Foss,Philpault,fphilpault0@washington.edu,Male,Silver,2579.27,$784.83
1,2,Fremont,Machin,fmachin1@themeforest.net,Male,Platnium,2564.37,"$1,125.33"
2,3,Gillan,Heak,gheak2@cbc.ca,Female,Gold,2084.58,$457.74
3,4,Terra,Lacroutz,tlacroutz3@npr.org,Female,Silver,3647.50,"$1,172.66"
4,5,Leigh,Wallwork,lwallwork4@jugem.jp,Male,Platnium,2316.21,"$1,803.10"
5,6,Oralia,Meletti,omeletti5@shareasale.com,Female,Silver,2435.94,"$1,372.18"
6,7,Sonnnie,Petroff,spetroff6@miibeian.gov.cn,Female,Platnium,2430.35,$624.21
7,8,Bert,Lidgett,blidgett7@ameblo.jp,Male,Gold,2853.85,"$2,330.76"
8,9,Sada,Rubroe,srubroe8@europa.eu,Female,None,2328.43,"$1,281.80"
9,10,Benjamen,Ahmed,bahmed9@bravesites.com,Male,Platnium,2145.57,$789.75
10,11,Bartie,Pocknoll,bpocknolla@sphinn.com,Male,Silver,2610.93,$183.87
11,12,Darby,Tenny,dtennyb@tinyurl.com,Male,Platnium,2411.06,$337.10
12,13,Aileen,Lydford,alydfordc@fc2.com,Female,None,2145.07,$138.85
13,14,Lesly,Tolerton,ltolertond@umich.edu,Bigender,Silver,3008.28,$465.30
14,15,Linet,Hearn,lhearne@hc360.com,Bigender,Platnium,1864.08,$253.68
15,16,Jillane,Wasielewski,jwasielewskif@joomla.org,Female,Silver,2840.31,"$1,133.99"
16,17,Lynda,Gillbe,lgillbeg@hc360.com,Genderfluid,Silver,1972.86,"$1,402.59"
17,18,Janina,Ojeda,jojedah@blogtalkradio.com,Female,Gold,2507.60,"$1,452.49"
18,19,Rem,Dalgardno,rdalgardnoi@51.la,Male,Gold,2606.55,"$1,728.36"
19,20,Dennison,Garrat,dgarratj@infoseek.co.jp,Male,None,4460.94,"$2,339.10"
20,21,Alessandra,Launchbury,alaunchburyk@ustream.tv,Female,None,2084.83,$782.40
21,22,Tilda,Pybus,tpybusl@constantcontact.com,Female,None,3994.23,"$1,056.51"
22,23,Rebecka,Trussler,rtrusslerm@ucla.edu,Female,Gold,NaN,NaN
23,24,Prue,Furphy,pfurphyn@clickbank.net,Female,Gold,5143.61,"$1,433.94"
24,25,Ramonda,Bullar,rbullaro@cafepress.com,Female,Gold,953.52,"$2,277.30"

## SQL With Python in Jupyter Notebooks

In [11]:
pip install -U matplotlib

Requirement already satisfied: matplotlib in c:\users\jamar\anaconda3\lib\site-packages (3.5.1)
Collecting matplotlib
  Downloading matplotlib-3.5.2-cp38-cp38-win_amd64.whl (7.2 MB)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\jamar\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.17 in c:\users\jamar\anaconda3\lib\site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jamar\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jamar\anaconda3\lib\site-packages (from matplotlib) (4.31.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jamar\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jamar\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\jamar\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: packaging>=20.0 in c:\users\jamar\anaconda3\lib\site-packages (from matplotlib) (20.9)
Requirement already satisfied: six in c:\users\jamar\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.Installing collected packages: matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.5.1
    Uninstalling matplotlib-3.5.1:
      Successfully uninstalled matplotlib-3.5.1

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\jamar\\anaconda3\\Lib\\site-packages\\~atplotlib\\backends\\_backend_agg.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [11]:
### Pandas will supply it's own index and sometimes you may
### need to change that. This will change the index to the id attribute
df.set_index('id',inplace=True)

In [ ]:
## import the pandasql libraries
from pandasql import sqldf

## it is recommended to add all required libraries in a cell at the top

In [21]:
## You can run SQL statements as a single string
## can use double or single quotes
sqldf("select first_name, email, loyalty_status from df;")

   first_name                          email loyalty_status
0        Foss     fphilpault0@washington.edu         Silver
1     Fremont       fmachin1@themeforest.net       Platnium
2      Gillan                  gheak2@cbc.ca           Gold
3       Terra             tlacroutz3@npr.org         Silver
4       Leigh            lwallwork4@jugem.jp       Platnium
..        ...                            ...            ...
95      Titos  tcrunden2n@barnesandnoble.com           Gold
96    Callean             cchinge2o@cnet.com           Gold
97     Fredra     fgrigolashvill2p@sogou.com         Silver
98    Ricardo       raicken2q@altervista.org       Platnium
99      Ralph          rtothacot2r@wufoo.com         Silver

[100 rows x 3 columns]

In [16]:
### You can also run a SQL 
### show as var as well
sqldf(
'''
    select first_name, email, loyalty_status
    from df
    where loyalty_status = 'Gold';
'''
)

   first_name                          email loyalty_status
0      Gillan                  gheak2@cbc.ca           Gold
1        Bert            blidgett7@ameblo.jp           Gold
2      Janina      jojedah@blogtalkradio.com           Gold
3         Rem              rdalgardnoi@51.la           Gold
4     Rebecka            rtrusslerm@ucla.edu           Gold
5        Prue         pfurphyn@clickbank.net           Gold
6     Ramonda         rbullaro@cafepress.com           Gold
7       Berne             bziemensp@fema.gov           Gold
8        Pate             ppager@state.tx.us           Gold
9        Ynes                ytillsu@aol.com           Gold
10   Torrence           tmcandie10@google.ca           Gold
11      Laure       lgoskar11@washington.edu           Gold
12   Hernando    htheunissen16@123-reg.co.uk           Gold
13    Horatio     hcasajuana17@webeden.co.uk           Gold
14    Murdoch        mstruthers1d@unesco.org           Gold
15       Merl       mboyington1f@foxnews.com           Gold
16   Wolfgang      wdarville1g@csmonitor.com           Gold
17        Kip            kbetham1p@salon.com           Gold
18    Loraine              ldenham1q@cmu.edu           Gold
19     Breena     bdimitru1s@squarespace.com           Gold
20     Araldo              ajanu1w@ifeng.com           Gold
21      Tessa          tkuller23@foxnews.com           Gold
22    Saundra        sscurrey25@bandcamp.com           Gold
23       Pail    prhucroft27@sourceforge.net           Gold
24     Ramsay           rcholomin2e@yelp.com           Gold
25    Barnabe      bduplain2g@friendfeed.com           Gold
26     Isiahi       iwittier2m@moonfruit.com           Gold
27      Titos  tcrunden2n@barnesandnoble.com           Gold
28    Callean             cchinge2o@cnet.com           Gold

## Appending Datasets with Python

In [ ]:
## As a data scientist you may receive data in multiple datasets.
## This helps with transferring data in smaller chunks instead of
## one large dataset.

## Load in your datasets
df1 = pd.read_csv('C:/Users/user/folder/data/filename1.csv')
df2 = pd.read_csv('C:/Users/user/folder/data/filename2.csv')

In [28]:
# Append the datasets together
# Append will add to the bottom
df_append = df1.append(df2)
df_append.describe(include='all')

,id,first_name,last_name,email,gender,loyalty_status,spend_2021,dollar_2021
count,200.000000,200,200,200,200,200,192.000000,192
unique,NaN,99,100,100,7,4,NaN,96
top,NaN,Callean,Gile,asheehan1o@archive.org,Male,Gold,NaN,"$2,387.99"
freq,NaN,4,2,2,112,58,NaN,2
mean,50.500000,NaN,NaN,NaN,NaN,NaN,2593.375521,NaN
std,28.938507,NaN,NaN,NaN,NaN,NaN,1029.062782,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,375.250000,NaN
25%,25.750000,NaN,NaN,NaN,NaN,NaN,1974.547500,NaN
50%,50.500000,NaN,NaN,NaN,NaN,NaN,2412.780000,NaN
75%,75.250000,NaN,NaN,NaN,NaN,NaN,3100.142500,NaN
max,100.000000,NaN,NaN,NaN,NaN,NaN,5795.920000,NaN

In [30]:
df_append.head(25)

,id,first_name,last_name,email,gender,loyalty_status,spend_2021,dollar_2021
0,1,Foss,Philpault,fphilpault0@washington.edu,Male,Silver,2579.27,$784.83
1,2,Fremont,Machin,fmachin1@themeforest.net,Male,Platnium,2564.37,"$1,125.33"
2,3,Gillan,Heak,gheak2@cbc.ca,Female,Gold,2084.58,$457.74
3,4,Terra,Lacroutz,tlacroutz3@npr.org,Female,Silver,3647.50,"$1,172.66"
4,5,Leigh,Wallwork,lwallwork4@jugem.jp,Male,Platnium,2316.21,"$1,803.10"
5,6,Oralia,Meletti,omeletti5@shareasale.com,Female,Silver,2435.94,"$1,372.18"
6,7,Sonnnie,Petroff,spetroff6@miibeian.gov.cn,Female,Platnium,2430.35,$624.21
7,8,Bert,Lidgett,blidgett7@ameblo.jp,Male,Gold,2853.85,"$2,330.76"
8,9,Sada,Rubroe,srubroe8@europa.eu,Female,None,2328.43,"$1,281.80"
9,10,Benjamen,Ahmed,bahmed9@bravesites.com,Male,Platnium,2145.57,$789.75
10,11,Bartie,Pocknoll,bpocknolla@sphinn.com,Male,Silver,2610.93,$183.87
11,12,Darby,Tenny,dtennyb@tinyurl.com,Male,Platnium,2411.06,$337.10
12,13,Aileen,Lydford,alydfordc@fc2.com,Female,None,2145.07,$138.85
13,14,Lesly,Tolerton,ltolertond@umich.edu,Bigender,Silver,3008.28,$465.30
14,15,Linet,Hearn,lhearne@hc360.com,Bigender,Platnium,1864.08,$253.68
15,16,Jillane,Wasielewski,jwasielewskif@joomla.org,Female,Silver,2840.31,"$1,133.99"
16,17,Lynda,Gillbe,lgillbeg@hc360.com,Genderfluid,Silver,1972.86,"$1,402.59"
17,18,Janina,Ojeda,jojedah@blogtalkradio.com,Female,Gold,2507.60,"$1,452.49"
18,19,Rem,Dalgardno,rdalgardnoi@51.la,Male,Gold,2606.55,"$1,728.36"
19,20,Dennison,Garrat,dgarratj@infoseek.co.jp,Male,None,4460.94,"$2,339.10"
20,21,Alessandra,Launchbury,alaunchburyk@ustream.tv,Female,None,2084.83,$782.40
21,22,Tilda,Pybus,tpybusl@constantcontact.com,Female,None,3994.23,"$1,056.51"
22,23,Rebecka,Trussler,rtrusslerm@ucla.edu,Female,Gold,NaN,NaN
23,24,Prue,Furphy,pfurphyn@clickbank.net,Female,Gold,5143.61,"$1,433.94"
24,25,Ramonda,Bullar,rbullaro@cafepress.com,Female,Gold,953.52,"$2,277.30"

In [32]:
# .dropna will remove all missing values inplace = True means to drop the entire row where data is missing
df_append.dropna(inplace=True)
df_append.head(25)

,id,first_name,last_name,email,gender,loyalty_status,spend_2021,dollar_2021
0,1,Foss,Philpault,fphilpault0@washington.edu,Male,Silver,2579.27,$784.83
1,2,Fremont,Machin,fmachin1@themeforest.net,Male,Platnium,2564.37,"$1,125.33"
2,3,Gillan,Heak,gheak2@cbc.ca,Female,Gold,2084.58,$457.74
3,4,Terra,Lacroutz,tlacroutz3@npr.org,Female,Silver,3647.50,"$1,172.66"
4,5,Leigh,Wallwork,lwallwork4@jugem.jp,Male,Platnium,2316.21,"$1,803.10"
5,6,Oralia,Meletti,omeletti5@shareasale.com,Female,Silver,2435.94,"$1,372.18"
6,7,Sonnnie,Petroff,spetroff6@miibeian.gov.cn,Female,Platnium,2430.35,$624.21
7,8,Bert,Lidgett,blidgett7@ameblo.jp,Male,Gold,2853.85,"$2,330.76"
8,9,Sada,Rubroe,srubroe8@europa.eu,Female,None,2328.43,"$1,281.80"
9,10,Benjamen,Ahmed,bahmed9@bravesites.com,Male,Platnium,2145.57,$789.75
10,11,Bartie,Pocknoll,bpocknolla@sphinn.com,Male,Silver,2610.93,$183.87
11,12,Darby,Tenny,dtennyb@tinyurl.com,Male,Platnium,2411.06,$337.10
12,13,Aileen,Lydford,alydfordc@fc2.com,Female,None,2145.07,$138.85
13,14,Lesly,Tolerton,ltolertond@umich.edu,Bigender,Silver,3008.28,$465.30
14,15,Linet,Hearn,lhearne@hc360.com,Bigender,Platnium,1864.08,$253.68
15,16,Jillane,Wasielewski,jwasielewskif@joomla.org,Female,Silver,2840.31,"$1,133.99"
16,17,Lynda,Gillbe,lgillbeg@hc360.com,Genderfluid,Silver,1972.86,"$1,402.59"
17,18,Janina,Ojeda,jojedah@blogtalkradio.com,Female,Gold,2507.60,"$1,452.49"
18,19,Rem,Dalgardno,rdalgardnoi@51.la,Male,Gold,2606.55,"$1,728.36"
19,20,Dennison,Garrat,dgarratj@infoseek.co.jp,Male,None,4460.94,"$2,339.10"
20,21,Alessandra,Launchbury,alaunchburyk@ustream.tv,Female,None,2084.83,$782.40
21,22,Tilda,Pybus,tpybusl@constantcontact.com,Female,None,3994.23,"$1,056.51"
23,24,Prue,Furphy,pfurphyn@clickbank.net,Female,Gold,5143.61,"$1,433.94"
24,25,Ramonda,Bullar,rbullaro@cafepress.com,Female,Gold,953.52,"$2,277.30"
25,26,Berne,Ziemens,bziemensp@fema.gov,Male,Gold,3912.77,$957.68

In [40]:
### Droping based on a value
df_append.drop(df_append.loc[df_append['spend_2021']==3647.50].index, inplace=True)
df_append.head(25)

,id,first_name,last_name,email,gender,loyalty_status,spend_2021,dollar_2021
0,1,Foss,Philpault,fphilpault0@washington.edu,Male,Silver,2579.27,$784.83
1,2,Fremont,Machin,fmachin1@themeforest.net,Male,Platnium,2564.37,"$1,125.33"
2,3,Gillan,Heak,gheak2@cbc.ca,Female,Gold,2084.58,$457.74
4,5,Leigh,Wallwork,lwallwork4@jugem.jp,Male,Platnium,2316.21,"$1,803.10"
5,6,Oralia,Meletti,omeletti5@shareasale.com,Female,Silver,2435.94,"$1,372.18"
6,7,Sonnnie,Petroff,spetroff6@miibeian.gov.cn,Female,Platnium,2430.35,$624.21
7,8,Bert,Lidgett,blidgett7@ameblo.jp,Male,Gold,2853.85,"$2,330.76"
8,9,Sada,Rubroe,srubroe8@europa.eu,Female,None,2328.43,"$1,281.80"
9,10,Benjamen,Ahmed,bahmed9@bravesites.com,Male,Platnium,2145.57,$789.75
10,11,Bartie,Pocknoll,bpocknolla@sphinn.com,Male,Silver,2610.93,$183.87
11,12,Darby,Tenny,dtennyb@tinyurl.com,Male,Platnium,2411.06,$337.10
12,13,Aileen,Lydford,alydfordc@fc2.com,Female,None,2145.07,$138.85
13,14,Lesly,Tolerton,ltolertond@umich.edu,Bigender,Silver,3008.28,$465.30
14,15,Linet,Hearn,lhearne@hc360.com,Bigender,Platnium,1864.08,$253.68
15,16,Jillane,Wasielewski,jwasielewskif@joomla.org,Female,Silver,2840.31,"$1,133.99"
16,17,Lynda,Gillbe,lgillbeg@hc360.com,Genderfluid,Silver,1972.86,"$1,402.59"
17,18,Janina,Ojeda,jojedah@blogtalkradio.com,Female,Gold,2507.60,"$1,452.49"
18,19,Rem,Dalgardno,rdalgardnoi@51.la,Male,Gold,2606.55,"$1,728.36"
19,20,Dennison,Garrat,dgarratj@infoseek.co.jp,Male,None,4460.94,"$2,339.10"
20,21,Alessandra,Launchbury,alaunchburyk@ustream.tv,Female,None,2084.83,$782.40
21,22,Tilda,Pybus,tpybusl@constantcontact.com,Female,None,3994.23,"$1,056.51"
23,24,Prue,Furphy,pfurphyn@clickbank.net,Female,Gold,5143.61,"$1,433.94"
24,25,Ramonda,Bullar,rbullaro@cafepress.com,Female,Gold,953.52,"$2,277.30"
25,26,Berne,Ziemens,bziemensp@fema.gov,Male,Gold,3912.77,$957.68
26,27,Crichton,Liger,cligerq@wikipedia.org,Male,None,2065.28,$128.76

In [42]:
### Create a dummy attribute for a specific column
df_dc = pd.get_dummies(df_append, columns=['gender'])
df_dc.head()

,id,first_name,last_name,email,loyalty_status,spend_2021,dollar_2021,gender_Agender,gender_Bigender,gender_Female,gender_Genderfluid,gender_Male,gender_Non-binary,gender_Polygender
0,1,Foss,Philpault,fphilpault0@washington.edu,Silver,2579.27,$784.83,0,0,0,0,1,0,0
1,2,Fremont,Machin,fmachin1@themeforest.net,Platnium,2564.37,"$1,125.33",0,0,0,0,1,0,0
2,3,Gillan,Heak,gheak2@cbc.ca,Gold,2084.58,$457.74,0,0,1,0,0,0,0
4,5,Leigh,Wallwork,lwallwork4@jugem.jp,Platnium,2316.21,"$1,803.10",0,0,0,0,1,0,0
5,6,Oralia,Meletti,omeletti5@shareasale.com,Silver,2435.94,"$1,372.18",0,0,1,0,0,0,0